<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.LoveUO.mapper.UserMapper">

	<!-- 插入用户数据 -->
	<!-- Integer addnew(User user) -->
	<insert id="addnew" useGeneratedKeys="true" keyProperty="uid">
		INSERT INTO user (
			username,password,
			salt,email,
			gender,avatar,
			pay,truename,
			lover,meet_time,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{username}, #{password},
			#{salt}, #{email},
			#{gender}, #{avatar},
			#{pay},#{truename},
			#{lover},#{meettime},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>

	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername" resultType="cn.LoveUO.entity.User">
		SELECT
			uid, username,
			password, salt,
			email,avatar,
			pay,truename,
			lover,meet_time as meettime
		FROM
			user
		WHERE
			username=#{username}
	</select>
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByEmail(String email) -->
	<select id="findByEmail" resultType="cn.LoveUO.entity.User">
		SELECT
			uid, username,
			password, salt,
			email,avatar,
			pay,truename,
			lover,meet_time as meettime
		FROM
			user
		WHERE
			email=#{email}
	</select>
	<!-- 更新密码 -->
	<!-- Integer updatePassword(
			@Param("uid") Integer uid,
			@Param("password") String password,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime
	) -->
	<update id="updatePassword">
		UPDATE
			user
		SET
			password=#{password},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			uid=#{uid}
	</update>

	<!-- 根据用户id查询用户数据 -->
	<!-- User findByUid(Integer uid) -->
	<select id="findByUid" resultType="cn.LoveUO.entity.User">
		SELECT
			uid,
			username,password,
			salt,email,
			gender,avatar,
			pay,truename,
			lover,words,
			validata_code as validataCode,out_date as outDate,
			meet_time as meettime
		FROM
			user
		WHERE
			uid=#{uid}
	</select>

	<!-- 更新用户资料 -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		UPDATE
			user
		SET
			truename=#{truename},
			lover=#{lover},
			email=#{email},
			gender=#{gender},
			meet_time=#{meettime},
			words=#{words},validata_code=#{validataCode},
			out_date=#{outDate},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			uid=#{uid}
	</update>

	<!-- 更新头像 -->
	<!-- Integer updateAvatar(
			@Param("uid") Integer uid,
			@Param("avatar") String avatar,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime
	) -->
	<update id="updateAvatar">
		UPDATE
			user
		SET
			avatar=#{avatar},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			uid=#{uid}
	</update>
	<!--更新支付状态-->
	<!--Integer updatePay(@Param("uid") Integer uid,
	@Param("pay") Integer pay,
	@Param("modifiedUser") String modifiedUser,
	@Param("modifiedTime") Date modifiedTime
	);-->
	<update id="updatePay">
		UPDATE
			user
		SET
			pay=#{pay},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			uid=#{uid}
	</update>

</mapper>


