/*指引图片的样式*/
#prompt-img{
	height: 75px;
	width: 690px;
	margin-left:-80px;
	margin-bottom: 40px;
}
/*登录页的半透明层的样式*/
.changePasswordDiv {
	height: 280px;
	width: 500px;
	background-color: rgba(255, 255, 255, 0.85);
	margin: 50px auto;
}

.dislook{
	display:none;
}